.h-card.widget
  img(class='u-photo' src=__(config.root + theme.profile.photo))
  .details
    .comments-title
      a(rel='me' class='p-name u-url' href=theme.profile.url)= theme.profile.name
    span(rel='me' class='u-email' hidden='true')
      | daiyitastic@gmail.com
    p(class='p-note widget-about')= theme.profile.about
