.widget
  img(class='u-photo' src=theme.profile.photo)
  .comments-title
    a(rel='me' class='p-name u-url' href=theme.profile.url)= theme.profile.name
  p(class='p-note widget-about')= theme.profile.about
