extends base

prepend site_title
  | #{page.category} &mdash;&nbsp;

block site_body
  .box.archive
    .box-content
      header
        h4.inline
          a(href=url_for(config.archive_dir)) categories
        span &nbsp;/
        h1.inline &nbsp;#{page.category}
        - listToRender = []
        - listToRender.push(site.categories.findOne({name: page.category}))

      include _partial/post/list
      //- include _partial/post/list_pagination
