extends base

block site_body

  .box-content.index
    .items.article-spread

      each post in page.posts.toArray()
        .item
          .item-content
            .meta
              span.date #{date(post.date, "YY MM DD")}
              != post.location
            h2
              a(href=url_for(post.path))= post.title

            .excerpt
              if post.image
                - var asset = url_for(post.path) + post.image
                  a(href=url_for(post.path))
                    img(src=asset)
              if !post.hideSummary
                p.description 
                  != post.summary


  //- include _partial/post/list_pagination
