extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block site_body

  article.box
    .box-content
      header
        h2= page.title
        div(class=page.layout + '-content')
        !=page.content
