.box-content
  nav
    ul
      for link in theme.footer
        li
          a(href=link.url) #{link.name}
    div
      <form action="https://buttondown.email/api/emails/embed-subscribe/daiyi" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/daiyi', 'popupwindow')">
        <label for="bd-email" class="hidden">Get email updates</label>
        <input type="email" name="email" id="bd-email" placeholder="Get email updates" />
        <input type="hidden" value="1" name="embed" />
        <button type="submit">Subscribe</button>
      </form>