// partial uses `listToRender` passed in from above ugh globals

for category in listToRender
  .items
    if is_archive()
      h4
        a(href=url_for(category.path)) #{category.name}
    each post in category.posts.toArray()
      .item
        .item-content
          span.meta
            span.date #{date(post.date, "YY MM DD")}
          span.title
            a(href=url_for(post.path))= post.title
